

<%= javascript_include_tag 'article_edit' %>


<% if params.has_key?(:id) %>
    <% action = "update" %>
    <% method = "patch" %>
<% else %>
    <% action = "create" %>
    <% method = "post" %>
<% end %>


<%= form_for @article, url: {action: action},
             html: {class: "pure-form pure-form-stacked", method: method} do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
    <%= f.label :text, "Text" %>
    <%= f.cktext_area :text, rows: 20 %>
    <%= f.label :tag, "Tag" %>
    <%= f.text_field :tag, value: @article.tag.map { |c| c.name }.join(',') %>
    <%= f.label :img, "Select Cover Image" %>
    <ul id="cover-image">
      <li><a href="javascript:void(0)" id="img-refresh">refresh</a></li>
    </ul>


    <%= f.submit "Submit", class: "pure-button pure-button-primary" %>

<% end %>