<% @title = '' %>

<%= render 'shared/header' %>

<div class="left-container">
  <% @articles.each do |article| %>
      <%= render 'shared/list_item', article: article %>
  <% end %>
  
</div>

<%= render 'shared/side_bar', tags: @tags %>

<% if admin_signed_in? %>
	<%= render 'shared/admin', articles: @articles %>
<% else %>
	<%= link_to('Login', new_admin_session_path)  %>
<% end %>

<%= render 'shared/footer' %>





