<%= render 'shared/header' %>


<h1><%= @article.title %></h1>

<%= @article.text.html_safe %>

<p><%= @article.tag.map {|c| c.name}.join(', ') %></p>
 
<%= link_to 'Back', articles_path %>

<%= render 'shared/footer' %>