<div class="list-item">
	<h2 class="post-title"><%= link_to article.title, article_path(article) %></h2>
	<ul class="subtitle"><li><%= article.created_at.strftime("%B %d, %Y") %></li></ul>

    <% if article.pic? %>
      <%= image_tag article.pic.url(:small) %>
    <% end %>
	<section>

		<% if not article.text.nil? %>
			<% if not article.pic? %>
	    		<%= truncate_html(sanitize(article.text, {:tags=>['a', 'p']}), length: 400, omission: '&nbsp...') %>
	    	<% else %>
	    		<%= truncate_html(sanitize(article.text, {:tags=>['a']}), length: 300, omission: '&nbsp...') %>
	    	<% end %>
    	<% end %> 
	</section>

	<ul class="tags">
		<% article.tag.each do |t| %>
			<li><%= link_to(t.name, controller: 'tags', action: 'show', id: t.id)  %></li>
		<% end %>
	</ul>
</div>