<%= render 'shared/header' %>

<div class="left-container">
	<h1> Tag: #<%= @current_tag.name %> </h1>
	<% if not @current_tag.nil? %>
		<% @current_tag.article.each do |article| %>
	      <%= render 'shared/list_item', article: article %>
	  	<% end %>
	<% end %>
</div>

<%= render 'shared/side_bar', tags: @tags, articles: nil %>

<%= render 'shared/footer' %>