<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> Wenhan Lu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Lobster|Kaushan+Script|Playball' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'w-logo-small.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
